@font-face {
    font-family: 'PlayStation';
    src: url('@public/fonts/PlayStation Cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

#root {
    min-width: 100%;
}

:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        animation: none;
    }

    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}

body {
    margin: 0;
    place-items: center;
    min-height: 100vh;
}